<div class="container">
  <h1>Stupid Coaching</h1>

  <blockquote><%= @question %></blockquote>
  <cite>-You</cite>

  <blockquote><%= @coach_answer %></blockquote>
  <cite>-Your coach</cite>

  <p><%= link_to "Ask a new question", ask_path %></p>
</div>

